.catalog-box {
    width: 400px;
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: 32px;
    background-color: #f2f2f2;
    border-radius: 20px;
    transition: 0.3s;

    @media (max-width: 850px) {
        width: 100%;
        padding: 20px;
        background-color: #fff;
    }

    @media (max-width: 500px) {
        padding: 10px;
    }

    &:hover {
        background-color: #ddd;

        @media (max-width: 500px) {
            background-color: #fff;
        }
    }
    .catalog-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        .catalog-title {
            font-size: 20px;
            line-height: 22px;
            color: #454545;
            @media (max-width: 700px) {
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
            @media (max-width: 500px) {
              width: 82px;
              font-size: 16px;
              line-height: 18px;
            }
          }
          .catalog-link {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            line-height: 16px;
            color: #454545;
            background-color: transparent;
          }
      }
      .catalog-img {
        max-width: 200px;
        height: 180px;
        object-fit: contain;
        @media (max-width: 850px) {
          width: 90%;
          margin-left: -110px;
        }
      }
}